body {
	background-image: url('../img/BG_grey.png');
}
#searchText {
 width: 150px;
 color: #0E434D;
 transition: all 0.4s ease 0s;
}
#searchText:focus {
 width: 250px;
}

#side {
	width: 20%;
	height: 100%;
	right: 0px;
	bottom: 0px;
	position: fixed;
}
#menu_decider{
	background-color: #2B547E;
}
#sidebarmenu_content{
	/* background-color: rgba(0, 181, 173, 0.3); */
}

.ui.my.inverted.menu {
	background-color: #2B547E;
	left: 0px;
	width: 80%;
}

#main_block {
	float: left;
	width: 75%;
	padding: 20px;
	border: solid 1px #2B547E;
	border-radius: 5px;
	margin-left: 2%;
	background-color: rgba(255, 255, 255, 0.45);
}

#movies .content{
	width: 80%;
	height: 80%;
	text-align: center;
	margin: 0 auto;
}
#movies .ui.blue.segment{
	width: 90%;
	margin: 0 auto;
}
#movies img.image{
	border-radius: 5px;
}