{% extends "profile.html" %}
{% load staticfiles %}


{% block css %}
    {{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'css/user_profile.css' %}">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        $('.ui.rating').rating();
    	$('#follow').hide();
        $('.ui.modal').modal({
            detachable: false
        });
    	$('.ui.comments').hide();
    	$('.showComments').click( function(event) {
            var blk = $(this).next().next();
        	if(blk.is(':visible')) {
                blk.hide('slow');
            }
            else {
                blk.show('slow');
                $("html, body").animate({ scrollTop: $(this).offset().top - 40 }, "slow");
            }
        });
    	$('.showLikes').click(function(event) {
            var blk = $(this).next().next();
            blk.modal("show");
        });

    	$('#follow').click(function(event){
            var num = parseInt($('#follow').prev().prev().prev().prev().prev().children().eq(0).html());
            num ++;
			$('#follow').prev().prev().prev().prev().prev().children().eq(0).html(num);
            $('#follow').hide();
            $('#unfollow').show();
        });
    	$('#unfollow').click(function(event){
            var num = parseInt($('#follow').prev().prev().prev().prev().prev().children().eq(0).html());
            num --;
			$('#follow').prev().prev().prev().prev().prev().children().eq(0).html(num);
            $('#unfollow').hide();
            $('#follow').show();
        });

    	$('.addComment').click(function(event){
            var txt = $(this).prev().children().eq(0).val();
            $(this).prev().children().eq(0).css("box-shadow","");
            if(txt != "") {
				var blk = '<div class="comment"> <a class="avatar"> <img src="{% static 'img/anon.png' %}"> </a> <div class="content"> <a class="author"> You </a> <div class="metadata"> <span class="date">Just now</span> </div> <div class="text">'.concat(txt, '</div></div></div>');
            	$(this).parent().before(blk);
                var cmn = $(this).parent().parent().prev().prev().children().eq(0).html();
            	var num = parseInt(cmn.split(' ')[0], 10);
            	num ++;
            	cmn = num + " Comments";
                $(this).parent().parent().prev().prev().children().eq(0).html(cmn);
            	$(this).prev().children().eq(0).val("");
        	}
            else {
				$(this).prev().children().eq(0).css("box-shadow","0px 0px 1px 1px rgba(255, 0, 0, 0.8) inset");
            }


        });
    	$('.likeThis').click(function(event){
			var blk = $(this).parent().parent().children().eq(3).children().eq(1).children().eq(0).html();
            var num = parseInt(blk.split(' ')[0], 10);
            if($(this).rating('get rating') == 1){
                num++;
            }
            else {
                num--;
            }
            console.log(num);
            blk = num + " Likes";
            $(this).parent().parent().children().eq(3).children().eq(1).children().eq(0).html(blk);
        });
    </script>
{% endblock %}

{% block body %}
    {{ block.super }}
{% endblock %}

{% block info %}
	<h3>
		<i class="browser icon"></i>
		Merlion
	</h3>
	<img src = "{% static 'img/Milad.jpg' %}" />
	<div class="ui raised segment">
		<h4>
		<i class="info circle icon"></i>
		Personal Info
		<p></p>
		</h4>

		<a class="ui teal ribbon label">
			<i class="user icon"></i>
			Full Name
		</a>
		<p>Milad Asgari </p>

		<a class="ui teal ribbon label">
			<i class="birthday icon"></i>
			Birthday
		</a>
		<p> 20 January 1993 </p>

		<a class="ui teal ribbon label">
			<i class="mail icon"></i>
			Email
		</a>
		<p> merlion380@gmail.com  </p>

		<a class="ui teal ribbon label">
			<i class="pointing right icon"></i>
			Followers
		</a>
		<span> <a href="#"> 259 </a> </span>
		<p></p>

		<a class="ui teal ribbon label">
			<i class="pointing left icon"></i>
			Following
		</a>
		<span> <a href="#"> 259 </a> </span>
		<p></p>

        <div id ="follow" class="ui teal button">
            <i class="plus icon"></i>
                  Follow
        </div>
    	<div id ="unfollow" class="ui red button">
            <i class="minus icon"></i>
                  Unfollow
        </div>

	</div>
{% endblock %}
{% block moreinfo %}
    <h2>
    	<i class="comments outline icon"></i>
    	Posts
    </h2>
    <hr/>
	<div class="ui items">
		<div class="item">
			<div class="image">
				<img src="{% static 'img/TheImitationGame.jpg'%}">
			</div>
			<div class="content">
				<h2 class="header">
                    	The Imitation Game
                    	<div class="ui huge heart rating likeThis" data-rating="0" data-max-rating="1"></div>
						<br/>
						<i class="star icon"></i>
						<i class="star icon"></i>
						<i class="star icon"></i>
						<i class="star icon"></i>
						<i class="half empty star icon"></i>
                    	(9 / 10)
                </h2>
				<div class="meta">
					<span><a href="{% url 'post' %}"> 28 April 2015 at 10:48 PM </a></span>
				</div>
				<div class="description">
					<p>
                        This suspenseful drama reveals pieces of its puzzle steadily and slowly, until the final heartrending picture can be seen at last. Remarkably, it comes from a screenwriter who had never had a feature film produced and a director who had never made one in English.
                    </p>
				</div>
				<div class="extra">

                    <a class="showComments">
						<span>0 Comments</span>
                    	<i class ="icon comment"></i>
                    </a>
                    <a class="showLikes">
                    	<span>0 Likes</span>
                    	<i class="icon thumbs up"></i>
                    </a>
                    <!-- Comments -->
					<div class="ui comments">
                        <br/>
						<h3 class="ui dividing header">Comments</h3>

						<form class="ui reply form">
							<div class="field">
								<textarea></textarea>
							</div>
							<div class="ui blue labeled submit icon button addComment">
								<i class="icon edit"></i> Add Reply
							</div>
						</form>
					</div>

                    <!--- Likes -->
					<div class="ui small modal">
						<i class="close icon"></i>
						<div class="header">
							<i class="film icon"></i>
							Merlion's Post Likes
						</div>
						<div class="content">
							<div class="ui divided list">
							</div>
						</div>
                        <div class="actions">
            			</div>
					</div>
				</div>
			</div>
		</div>

        <hr/>

		<div class="item">
			<div class="image">
				<img src="{% static 'img/SherlockHolmes.jpg'%}">
			</div>
			<div class="content">
				<h2 class="header">
                    Adventures of Sherlock Holmes

                    <div class="ui huge heart rating likeThis" data-rating="1" data-max-rating="1"></div>

                    <br/>
                    <i class="star icon"></i>
                    <i class="star icon"></i>
                    <i class="star icon"></i>
                    <i class="star icon"></i>
                    <i class="star icon"></i>
                    (10 / 10)
                </h2>
				<div class="meta">
					<span><a href="{% url 'post' %}"> 20 April 2015 at 09:50 AM</a></span>
				</div>
				<div class="description">
					<p>
                        Basil Rathbone is still probably the best-known Sherlock Holmes, courtesy of his old movies being shown forever on television. But Jeremy Brett is giving the old boy a close chase. For several seasons now, Mr. Brett has been evoking Arthur Conan Doyle's world-renowned detective on public television's ''Mystery'' with an increasingly neurotic reading that may leave a good many Baker Street Irregulars uneasy. But few will be able to deny that the interpretation is diabolically authentic and, yes, memorable.
                    </p>
				</div>
				<div href ="#" class="extra">
                    <a class ="showComments">
						<span>3 Comments</span>
                    	<i class ="icon comment"></i>
                    </a>
                    <a class="showLikes">
                    	<span>4 Likes</span>
                    	<i class="icon thumbs up"></i>
					</a>
                    <!-- Comments -->
					<div class="ui comments">
                        <br/>
						<h3 class="ui dividing header">Comments</h3>
						<div class="comment">
							<a class="avatar">
								<img src="{% static 'img/anon.png' %}">
							</a>
							<div class="content">
								<a class="author">Joe Henderson</a>
								<div class="metadata">
									<span class="date">5 days ago</span>
								</div>
								<div class="text">
								Dude, this is awesome. Thanks so much
								</div>
							</div>
						</div>

						<div class="comment">
							<a class="avatar">
								<img src="{% static 'img/anon.png' %}">
							</a>
							<div class="content">
								<a class="author">Matt</a>
								<div class="metadata">
									<span class="date">3 days ago</span>
								</div>
								<div class="text">
									I like your post! Thanks ^_^
								</div>
							</div>
						</div>


						<div class="comment">
							<a class="avatar">
								<img src="{% static 'img/anon.png' %}">
							</a>
							<div class="content">
								<a class="author">Ninoch</a>
								<div class="metadata">
									<span class="date">1 days ago</span>
								</div>
								<div class="text">
                                    True Story!
                                    Wiki: <br/>
                                    Sherlock Holmes is the name given to the TV series of Sherlock Holmes adaptations produced by British television company Granada Television between 1984 and 1994, with the first two series bearing the title The Adventures Of Sherlock Holmes on screen and being followed by subsequent sub-series bearing the titles of the other short story collections by Arthur Conan Doyle. The series was broadcast on the ITV network in the UK and starred Jeremy Brett as the famous detective. His portrayal remains very popular and is accepted by some as the definitive on-screen version of Sherlock Holmes
								</div>
							</div>
						</div>

						<form class="ui reply form">
							<div class="field">
								<textarea></textarea>
							</div>
							<div class="ui blue labeled submit icon button addComment">
								<i class="icon edit"></i> Add Reply
							</div>
						</form>
					</div>

                    <!--- Likes -->
					<div class="ui small modal">
						<i class="close icon"></i>
						<div class="header">
							<i class="film icon"></i>
							Merlion's Post Likes
						</div>
						<div class="content">
							<div class="ui divided list">
								<div class="item">
									<img class="ui avatar image" src="{% static 'img/anon.png'%}">
									<div class="content">
										<a class="header">Daniel Louise</a>
									</div>
								</div>
								<div class="item">
									<img class="ui avatar image" src="{% static 'img/anon.png' %}">
									<div class="content">
										<a class="header">Stevie Feliciano</a>
									</div>
								</div>
								<div class="item">
									<img class="ui avatar image" src="{% static 'img/anon.png' %}">
									<div class="content">
										<a class="header">Elliot Fu</a>
									</div>
								</div>

								<div class="item">
									<img class="ui avatar image" src="{% static 'img/anon.png' %}">
									<div class="content">
										<a class="header">Ninoch</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

        <hr/>

		<div class="item">
			<div class="image">
				<img src="{% static 'img/MonstersInc.jpg'%}">
			</div>
			<div class="content">
				<h2 class="header">
                    Monsters University

                    <div class="ui huge heart rating likeThis" data-rating="1" data-max-rating="1"></div>

                    <br/>
                    <i class="star icon"></i>
                    <i class="star icon"></i>
                    <i class="star icon"></i>
                    <i class="star icon"></i>
                    <i class="empty star icon"></i>
                    (9 / 10)
                </h2>
				<div class="meta">
					<span><a href="{% url 'post' %}"> 10 April 2015 at 02:05 PM</a></span>
				</div>
				<div class="description">
					<p>
                        It’s easily the most enjoyable animated film so far this year, one that is visually stunning, wickedly subversive, incredibly funny (Day's character is a hoot), and (at times) lump-in-your-throat emotional.
                    </p>
				</div>
				<div class="extra">
                    <a class ="showComments">
                        <span>2 Comments</span>
                    	<i class ="icon comment"></i>
                    </a>
                    <a class ="showLikes">
                        <span>3 Likes</span>
                    	<i class="icon thumbs up"></i>
                    </a>

                    <!-- Comments -->
					<div class="ui comments">
                        <br/>
						<h3 class="ui dividing header">Comments</h3>
						<div class="comment">
							<a class="avatar">
								<img src="{% static 'img/anon.png' %}">
							</a>
							<div class="content">
								<a class="author">Joe Henderson</a>
								<div class="metadata">
									<span class="date">5 days ago</span>
								</div>
								<div class="text">
								Dude, this is awesome. Thanks so much
								</div>
							</div>
						</div>

						<div class="comment">
							<a class="avatar">
								<img src="{% static 'img/anon.png' %}">
							</a>
							<div class="content">
								<a class="author">Matt</a>
								<div class="metadata">
									<span class="date">3 days ago</span>
								</div>
								<div class="text">
									I like your post! Thanks ^_^
								</div>
							</div>
						</div>

						<form class="ui reply form">
							<div class="field">
								<textarea></textarea>
							</div>
							<div class="ui blue labeled submit icon button addComment">
								<i class="icon edit"></i> Add Reply
							</div>
						</form>
					</div>

                    <!--- Likes -->
					<div class="ui small modal">
						<i class="close icon"></i>
						<div class="header">
							<i class="film icon"></i>
							Merlion's Post Likes
						</div>
						<div class="content">
							<div class="ui divided list">
								<div class="item">
									<img class="ui avatar image" src="{% static 'img/anon.png'%}">
									<div class="content">
										<a class="header">Daniel Louise</a>
									</div>
								</div>
								<div class="item">
									<img class="ui avatar image" src="{% static 'img/anon.png' %}">
									<div class="content">
										<a class="header">Stevie Feliciano</a>
									</div>
								</div>
								<div class="item">
									<img class="ui avatar image" src="{% static 'img/anon.png' %}">
									<div class="content">
										<a class="header">Elliot Fu</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
{% endblock %}